# Emacs
*.elc
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.auto-save-list
/auto-save-list

# Package build
*.tar
*.pkg.el

# Development
/.dir-locals.el
/test/*.elc

# Dolt database files (added by bd init)
.dolt/
*.db
node_modules/
test/node_modules/
test/captured-frames.json
